<div class="col-xs">
  <%= render 'dashboard/cards/card',
    header: news_article.title,
    sub_header: "by #{news_article.author}",
    footer: '' do %>
    <span class="tag tag-default" %><%= news_article.root_domain %></span>
    <span class="tag tag-default" %>Section: <%= news_article.section %></span>
    <span class="tag tag-default" %>Query: <%= news_article.scrape_query.query %></span>
    <p><%= news_article.description %></p>
    <%= link_to 'View Link', news_article.url, class: 'btn btn-primary', target: '_blank' %>
    <p class="card-text">
      <small class="text-muted">
        <% if news_article.datetime.present? %>
          written <%= time_ago_in_words(news_article.datetime) %> ago
        <% else %>
          <strong>Article is missing a datetime</strong>
        <% end %>
      </small>
    </p>
    <p class="card-text">
      <small class="text-muted">
        scraped <%= time_ago_in_words(news_article.created_at) %> ago
      </small>
    </p>
  <% end %>
</div>
