<div class="col-md-4 col-sm-6">
  <div class="card text-xs-center">
    <div class="card-header">
      <%= domain.root_domain %>
    </div>
    <div id="accordion-<%= domain.id %>" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-<%= domain.id %>">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion-<%= domain.id %>" href="#collapse-<%= domain.id %>" aria-expanded="false" aria-controls="collapseOne" class="btn btn-link">
              Domain Entries
            </a>
          </h4>
        </div>
        <div id="collapse-<%= domain.id %>"
             class="panel-collapse collapse out"
             role="tabpanel"
             aria-labelledby="heading-<%= domain.id %>">
          <ul class="list-group list-group-flush">
            <% domain.domain_entries.each do |entry| %>
              <li class="list-group-item">
                <strong><%= entry.data_type %></strong>
                <p><%= entry.method %>: <%= entry.pattern %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      added <%= time_ago_in_words(domain.created_at) %> ago
    </div>
  </div>
</div>