<div class="table-responsive">
  <%= f.fields_for data_type do |df| %>
    <table class="table">
      <thead>
        <th width="50px">&nbsp;</th>
        <th>Option</th>
        <th>Method</th>
        <th>Pattern</th>
        <th>Parsed Data</th>
      </thead>
        <% training_options[data_type].each do |option, val| %>
          <% if val['data'].present? %>
            <tr>
              <td><%= df.radio_button 'option', option, required: true, checked: checked?(params, data_type, option)  %></td>
              <td><%= option %></td>
              <td><%= val['method'] %></td>
              <td><code><%= val['pattern'].present? ? val['pattern'] : 'N/A' %></code></td>
              <td><%= sanitize val['data'].truncate(500) %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td><%= df.radio_button 'option', "xpath", required: true, checked: checked?(params, data_type, 'xpath') %></td>
          <td colspan="2">I'll define my own xpath pattern</td>
          <td colspan="2"><%= df.text_field 'xpath', class: 'form-control', placeholder: 'Xpath pattern', value: field_value(params, data_type, 'xpath') %></td>
        </tr>
        <tr>
          <td><%= df.radio_button 'option', "css", required: true, checked: checked?(params, data_type, 'css')  %></td>
          <td colspan="2">I'll define my own css pattern</td>
          <td colspan="2"><%= df.text_field 'css', class: 'form-control', placeholder: 'CSS pattern', value: field_value(params, data_type, 'css') %></td>
        </tr>
    </table>
  <% end %>
</div>
